MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password

# =========================
# ASP.NET CONNECTION
# =========================
DB_CONNECTION=Server=mysql_anirise;Port=3306;Database=your_database_name;User=your_mysql_user;Password=your_mysql_password;

# =========================
# JWT
# =========================
JWT_KEY=your_super_secret_jwt_key
JWT_ISSUER=AniRiseBackend
JWT_AUDIENCE=AniRiseFrontend

# =========================
# EMAIL
# =========================
EMAIL_FROM=your_email@gmail.com
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USER=your_email@gmail.com
EMAIL_SMTP_PASS=your_app_password

# =========================
# CLOUDINARY
# =========================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# =========================
# FRONTEND
# =========================
FRONTEND_URL=http://localhost:3000

# =========================
# DETECTION API
# =========================
DETECTION_API_URL=http://anirise_detection_api:8081

ASPNETCORE_ENVIRONMENT=Development

# Dev as default
ENV_MODE=development
FRONTEND_DOCKERFILE=Dockerfile.dev
FRONTEND_HOST_PORT=3000
FRONTEND_CONTAINER_PORT=3000

# Prod
# ENV_MODE=production
# FRONTEND_DOCKERFILE=Dockerfile
# FRONTEND_HOST_PORT=3000
# FRONTEND_CONTAINER_PORT=80